*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
   
}
body h1{
    text-align: center;
}
h2,h1{
  font-size: 2.5rem;
  color: hsl(229, 31%, 21%);
  line-height: 1.2;
  margin-bottom: 1rem;  
  margin-top: 10px;
  margin-bottom: 10px;
}
 h3{
    color: hsl(229, 31%, 21%);
   margin-bottom: 10px;
   margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}




 



.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 30%;
    margin-top: 15px;
  }
  
  .file-upload .file-select {
    display: block;
    border: 2px solid #dce4ec;
    color:hsl(229, 31%, 21%);
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
  }
  
  .file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
  }
  
  .file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
  }
  
  .file-upload .file-select:hover {
    border-color:hsl(229, 31%, 21%);
    transition: all .2s ease-in-out;
  }
  
  .file-upload .file-select:hover .file-select-button {
    background:hsl(229, 31%, 21%);
    color: #FFFFFF;
    transition: all .2s ease-in-out;
  }
  
  .file-upload.active .file-select {
   
    transition: all .2s ease-in-out;
  }
  
  .file-upload.active .file-select .file-select-button {
    
    color: #FFFFFF;
    transition: all .2s ease-in-out;
  }
  
  .file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .file-upload .file-select.file-select-disabled {
    opacity: 0.65;
  }
  
  .file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color:hsl(229, 31%, 21%);
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
  }
  
  .file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
  }
  
  .file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
  }
  
 
  
  

